@use '../abstracts/' as *;

body {
  background-color: $off-white;
}

.container {
  @media screen and (min-width: 1024px) {
    width: 75rem;
    max-width: 90rem;
    margin-inline: auto;
  }
}

.main {
  padding-inline: 1rem;

  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  }
}
