@use '../abstracts/' as *;

.read-more__btn {
  text-transform: uppercase;
  background-color: $soft-red;
  color: $off-white;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  letter-spacing: 5px;
  font-size: $fs-body;
  display: inline-block;
}
