@use '../abstracts/' as *;

.read-more__btn {
  text-transform: uppercase;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  letter-spacing: 5px;
  font-size: $fs-body;
  display: inline-block;
  color: $off-white;

  &:link,
  &:visited,
  &:active {
    background-color: $soft-red;
    transition: background-color, 0.2s;
  }

  &:hover {
    background-color: $very-dark-blue;
  }
}

#hamburger_btn {
  border: none;
  background-color: #fff;
  cursor: pointer;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

#hamburger_btn--close {
  border: none;
  background-color: #fff;
  cursor: pointer;
  align-self: flex-end;
}
