@use '../abstracts/' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.media__heading {
  &--main {
    margin-block-start: 0.5rem;
    margin-block-end: 1rem;
    a {
      color: $very-dark-blue;
      font-size: 2.5rem;
      line-height: 1;
      font-weight: $fw-800;

      @media screen and (min-width: 1024px) {
        font-size: 3.5rem;
      }
    }

    @media screen and (min-width: 1024px) {
      margin-block-start: 0;
      width: 50%;
      margin-block-end: 0;
    }
  }
}

.media__text {
  &--main {
    @media screen and (min-width: 1024px) {
      width: 50%;
    }
    p {
      color: $dark-grayish-blue;
      font-size: $fs-body;
      margin-block-end: 2rem;
    }
  }
}

.news__heading {
  color: $soft-orange;
  font-size: 2rem;
}

.popular-news__rank {
  font-weight: $fw-800;
  font-size: 2rem;
  color: $grayish-blue;
  grid-area: rank;
}

.popular-news__media {
  &--heading {
    margin-block: 0.3rem;
    grid-area: heading;
    a {
      color: $very-dark-blue;
    }
  }

  &--text {
    color: $dark-grayish-blue;
    font-size: $fs-body;
    grid-area: text;
  }
}
